.container{
    background: var(--bg-main);
    padding: 50px;
}
.container.lightMode{
     background: white;
 }
.pp-container{
    background: #383838;
    color: white;
    margin: 0 4%;
    border-radius: 20px;
    padding: 40px;
    box-shadow: 14px 14px 20px #5d5d5d;

}
.pp-container.lightMode{
    background: #d2d2d2;
    color: black;
    box-shadow: 14px 14px 20px #606060;
}